
a{
text-decoration: none;
}
.middle{
    background-color: rgb(2, 2, 53);
}
.middle1{
    background-color:#ccc ;
}
.middle1s.feature-box a h3{
    color:rgb(2, 2, 53);
}
.newsletter{
    background-color: rgb(2, 2, 53);
    margin:1em 0;
}
.bottom{
    
   
}
.submit{
    background-color: rgb(2, 2, 53);
}
